@page "/employees/list"
@using Microsoft.EntityFrameworkCore;
@using WiredBrainCoffee.EmployeeManager.Data.Models;
@using WiredBrainCoffee.EmployeeManager.Data;
@inject EmployeeManagerDbContext Context;

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>

TODO: creare una lista di impiegati

@code{

    private Employee[]? Employees { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = await Context.Employees
        .Include(emp => emp.Department)
        .ToArrayAsync();
    }

}